% vim: sw=4 ts=4 et ft=erlang
{require_otp_vsn, "R15|R16|17|18"}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{lib_dirs, ["deps"]}.

{deps, [
    
    %% The following line will be replaced by the appropriate backend's
    %% dependencies. It will use simple_bridge's merge_deps script.
    %% It ends with a comma since the simple_bridge deps don't.
    %% GENERATED_DEPS,
    %% END GENERATED DEPS
    {"bootstrap",     ".*", {git, "git://github.com/twbs/bootstrap",           {tag,"v3.3.5"}}, [raw]},

    {"fa",  ".*", {git, "git://github.com/FortAwesome/Font-Awesome", {tag,"v4.4.0"}}, [raw]},
    {nitrogen_core, ".*", {git, "git://github.com/nitrogen/nitrogen_core",  {branch, master}}},
    {nprocreg,      ".*", {git, "git://github.com/nitrogen/nprocreg",       {branch, master}}},
    {simple_bridge, ".*", {git, "git://github.com/nitrogen/simple_bridge",  {branch, master}}},
    {sync,          ".*", {git, "git://github.com/rustyio/sync",            {branch, master}}},
    {erlang_ale,    ".*", {git, "https://github.com/esl/erlang_ale.git",    {branch, master}}}

    %%{nitrogen_core, ".*", {git, "git://github.com/nitrogen/nitrogen_core",   {tag, "v2.3.0-beta5"}}},
    %%{nprocreg,      ".*", {git, "git://github.com/nitrogen/nprocreg",        {tag, "v0.2.1"}}},
    %%{simple_bridge, ".*", {git, "git://github.com/nitrogen/simple_bridge",   {tag, "v2.0.0-beta3"}}},
    %%{sync,          ".*", {git, "git://github.com/rustyio/sync",             {tag, "ed84f87c6335"}}
]}.
