% vim: sw=4 ts=4 et ft=erlang
{require_otp_vsn, "R15|R16|17|18"}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{lib_dirs, ["deps"]}.

{deps, [
    
    %% The following line will be replaced by the appropriate backend's
    %% dependencies. It will use simple_bridge's merge_deps script.
    %% It ends with a comma since the simple_bridge deps don't.
    
	%% Inets has no external dependencies, but we include mimetypes to add
	%% better support out of the box for additional mimetypes. You're free to
	%% remove this particular dependency, if you so choose, without it,
	%% simple_bridge will initialize just html, javascript, and css mimetypes.
    {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {branch, master}}}

,
    %% END GENERATED DEPS

    {"fa",  ".*", {git, "git://github.com/FortAwesome/Font-Awesome", {tag,"v4.4.0"}}, [raw]},
    {nitrogen_core, ".*", {git, "git://github.com/nitrogen/nitrogen_core",  {branch, master}}},
    {nprocreg,      ".*", {git, "git://github.com/nitrogen/nprocreg",       {branch, master}}},
    {simple_bridge, ".*", {git, "git://github.com/nitrogen/simple_bridge",  {branch, master}}},
    {sync,          ".*", {git, "git://github.com/rustyio/sync",            {branch, master}}},
    {erlang_ale,    ".*", {git, "https://github.com/esl/erlang_ale.git",    {branch, master}}}

]}.
